*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 40vw;
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: auto;
    /* margin-top: 5vw; */
    padding: 3vw;
    height: 30vw;
    width: 40vw;
    background: linear-gradient(to right, #758694, #405D72);
/*     background-color: #405D72; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 8px 5px 5px #EECEB9;
    border: none;
    box-sizing: border-box;
}
#date{
    font-size: 1.5vw;
    font-weight: 600;
    background-color: #F7E7DC ;
    color: #405D72;
    margin-top: 2vw;
    border-radius: 7px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}
#day{
    font-size: 2vw;
    background-color: #758694 ;
    color: #FFF8F3;
    border-radius: 7px;
    margin-top: 1.5vw;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.time-cont{
    margin-top: 1vw;
    display: flex;
    font-size: 2vw;
}
.time-bg{
    background-color: #F7E7DC;
    color: #758694;
    height: 4.5vw;
    width: 4vw;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 5px 15px #8f8f8f;
}
.colon{
    font-size: 2vw;
    font-weight: 800;
    color: #F7E7DC;
    margin: 5px;
}
#am-pm{
    background: transparent;
    backdrop-filter: blur;
    margin-left: 2vw;
    box-shadow: 1px 1px 2px 2px #F7E7DC;
    height: 3.5vw;
    align-self: center;
    font-size: 1.5vw;
    color: #F7E7DC;
}
